@charset "UTF-8";
/* Обнуление стилей  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}



body {
  font-family: "Raleway", sans-serif;
  background-color: #242B33;
  color: #fff;
  font-size: 16px;
}

a {
  color: #fff;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #D4C17F;
}

b {
  font-family: "Playfair Display", serif;
  color: #D4C17F;
  font-weight: 700;
  font-size: 18px;
}

i {
  font-family: "Playfair Display", serif;
  color: #D4C17F;
  font-weight: 700;
  font-size: 18px;
}

mark {
    background-color: #D4C17F;
    color: #242B33;
    padding: 3px 10px;
    margin-left: 20px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.indent {
    margin-top: 20px;
}

.block {
    padding: 10px 20px;
    margin: 30px 15px;
    border: 2px solid #D4C17F;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}

/*для списков*/
.square {
  margin: 0;
  counter-reset: li;
  list-style: none;
  padding: 10px;
  color: #fff;
}
.square li {
  position: relative;
  margin: 0 0 10px 2em;
  padding: 4px 8px;
  border-top: 2px solid #D4C17F;
  transition: .3s linear;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.square li:last-child {margin-bottom: 0;}
.square li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  top: -2px;
  left: -2em;
  width: 2em;
  box-sizing: border-box;
  margin-right: 8px;
  padding: 4px;
  border-top: 2px solid #D4C17F;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  background: #D4C17F;
  color: #fff;
  text-align: center;
  transition: .3s linear;
}

/*уменьшение контейнера для иконок*/
.container--sm {
  max-width: 840px;
}
.container__text {
  margin: 0 auto;
  padding: 0 25px;
  max-width: 900px;
}

.text-right {
  text-align: right;
}

/*скрытие*/
.visually-hidden {
  /* Contain text within 1px box */
  height: 1px;
  overflow: hidden;
  width: 1px;
  /* Keep the layout */
  position: absolute;
  /* Remove any visible trace (e.g. background color) */
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%); /* browsers in the future */
  /* Prevent the screen reader to skip spaces between words */
  white-space: nowrap;
}

.none {
  display: none !important;
}

.title-1 {
  padding-top: 20px;
  padding-bottom: 40px;
  font-family: "Playfair Display", serif;
  color: #D4C17F;
  font-weight: 700;
  font-size: 40px;
}
@media screen and (max-width: 959px) {
  .title-1 {
    font-size: 32px;
  }
}

.title-2 {
  padding-top: 60px;
  padding-bottom: 20px;
  font-size: 30px;
  font-family: "Playfair Display", serif;
  color: #D4C17F;
  font-weight: 500;
}
@media screen and (max-width: 959px) {
  .title-2 {
    font-size: 22px;
  }
}

p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: white;
  line-height: 32px;
  text-align: justify;
}



.p_punkt {
  margin-left: 40px;
  padding-bottom: 10px;
}

.link-bold {
  color: #D4C17F;
  font-weight: 700;
}

.no-scroll {
  overflow-y: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 360px;
  /*background-color: #242B33;*/
  background: linear-gradient(180deg, #242b33 0.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%), url("./../img/cards/health.jpg");

}
@media screen and (max-width: 959px) {
  .header {
    min-height: unset; /*сброс высоты*/
    row-gap: 50px;
  }
}

.header__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top-row--mobile {
  position: fixed;
  z-index: 9;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #242B33;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.header__top-row--mobile .header__nav {
  display: block;
}
.header__top-row--mobile .nav__list {
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}
.header__top-row--mobile .header__nav-btn {
  position: fixed;
  top: 50px;
  right: 15px;
}

@media screen and (max-width: 959px) {
  .header__nav {
    display: none;
  }
}

.header__nav-btn {
  display: none;
}
@media screen and (max-width: 959px) {
  .header__nav-btn {
    display: block;
  }
}

.header__title {
  position: relative;
  padding-bottom: 121px;
  text-align: center;
  font-size: 58px;
  font-family: "Playfair Display", serif;
  color: #D4C17F;
  font-weight: 700;
  letter-spacing: 2px;
}
@media screen and (max-width: 959px) {
  .header__title {
    font-size: 32px;
    padding-bottom: 100px;
  }
}

.header__title-icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}

.header__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 959px) {
  .header__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
}

.nav {
  font-size: 14px;
  letter-spacing: 0.05em;
}

.nav__list {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

/* Меню */
.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #fff;
  height: var(--height);
  width: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  transform: rotate(-45deg);
}

.info {
  position: relative;
  font-size: 18px;
}
.info--map, .info--tel {
  padding-left: 35px;
}
.info--map::before, .info--tel::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 50%;
  width: 21px;
  height: 21px;
  transform: translate(0%, -50%);
  background-repeat: no-repeat;
  background-position: center;
}
.info--map::before {
  background-image: url("./../img/header/map.svg");
}
.info--tel::before {
  background-image: url("./../img/header/phone.svg");
}
@media screen and (max-width: 959px) {
  .info {
    font-size: 14px;
  }
  .info--map, .info--tel {
    padding-left: 26px;
  }
}

/*Блок с иконками*/
.benefits {
  overflow: hidden;
  position: relative;
  padding: 120px 0;
}
/*"КГУ" на фоне*/
.benefits::after {
  content: "КГУ";
  left: calc(50% + 555px);
  transform: translate(-50%, 0%);
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0.02;
  line-height: 1.15;
  font-size: 400px;
  font-family: "Playfair Display", serif;
}

.benefits__row {
  display: flex;
  -moz-column-gap: 70px;
       column-gap: 70px;
}
@media screen and (max-width: 959px) {
  .benefits__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 40px 30px;
  }
}

.benefits__item {
  text-align: center;
}

.benefits__item-img {
  margin-bottom: 53px;
}
@media screen and (max-width: 959px) {
  .benefits__item-img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
  }
}

.benefits__item-text {
  font-size: 20px;
  line-height: 1.35;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
@media screen and (max-width: 959px) {
  .benefits__item-text {
    font-size: 16px;
  }
}

/*Блок с карточками*/
.box {
  position: relative;
}
/*"КГУ" на фоне*/
.box::before {
  content: "КГУ";
  right: calc(50% + 555px);
  transform: translate(50%, 0%);
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0.02;
  line-height: 1.15;
  font-size: 400px;
  font-family: "Playfair Display", serif;
}

.box__title {
  margin-bottom: 88px;
}
@media screen and (max-width: 959px) {
  .box__title {
    margin-bottom: 44px;
  }
}

.box__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media screen and (max-width: 959px) {
  .box__cards {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}

.card {
  overflow: hidden;
  position: relative;
  display: inline-block;
  color: #fff;
}
/*градиент на карточке*/
.card::before {
  content: "";
  position: absolute;
  z-index: 6;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%);
}
/*анимация рамки карточки*/
.card::after {
  opacity: 0;
  content: "";
  position: absolute;
  z-index: 7;
  left: 15px;
  top: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px double rgba(255, 255, 255, 0.4);
  transition: opacity 0.2s ease-in;
}
.card:hover {
  color: #fff;
}
/*видимость рамки*/
.card:hover::after {
  opacity: 1;
}

.card__img {
  position: relative;
  z-index: 5;
  transition: all 0.2s ease-in;
}

.card:hover .card__img {
  transform: scale(1.1);
  filter: contrast(110%) brightness(1.2) saturate(1.2);
}

.card__title {
  position: absolute;
  z-index: 9;
  left: 50px;
  right: 20px;
  bottom: 44px;
  font-size: 24px;
}
@media screen and (max-width: 959px) {
  .card__title {
    font-size: 20px;
    left: 30px;
    bottom: 30px;
  }
}

/*Блок с картой*/
.section-map {
  position: relative;
  padding: 180px 0;
}
/*"КГУ" на фоне*/
.section-map::before {
  content: "КГУ";
  position: absolute;
  right: calc(50% + 555px);
  transform: translate(50%, 0%);
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0.02;
  line-height: 1.15;
  font-size: 400px;
  font-family: "Playfair Display", serif;
  top: 180px;
  line-height: 1;
}
@media screen and (max-width: 959px) {
  .section-map {
    padding: 90px 0;
  }
}


/*Подвал*/
.footer {
  padding-top: 72px;
  padding-bottom: 51px;
  background-color: #2D343C;
  font-size: 14px;
  letter-spacing: 0.05rem;
}
@media screen and (max-width: 959px) {
  .footer {
    padding-top: 36px;
    padding-bottom: 25px;
  }
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media screen and (max-width: 959px) {
  .footer__grid {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 40px 30px;
  }
}

.footer__logo {
  margin-top: -12px;
}

.footer__nav-list {
  display: grid;
  gap: 15px;
}

.footer__address {
  display: grid;
  gap: 20px;
}

/*кнопка назад*/
.button{
  background-color: #2D343C;
  border: none;
  color: white;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 80px;
  font-family: "Roboto", sans-serif;
  border: 2px solid #D4C17F;
}
@media screen and (max-width: 959px) {
  .button {
    font-size: 16px;
    padding: 15px 25px;
  }
}
.button:hover{
  background-color: #D4C17F;
  color: #2D343C;
  transform: scale(1.1);
}

ol {
	list-style-type: none; 
	counter-reset: num;
	margin: 0 0 0 35px;
	padding: 15px 0 5px 0;
	font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 32px;
  text-align: justify;
}
ol li {
	position: relative;	
	margin: 0 0 0 0;
	padding: 0 0 10px 0;
}
ol li:before {
	content: counter(num) '.'; 
	counter-increment: num;
	display: inline-block;	
	position: absolute;
	top: 0px;
	left: -26px;
	width: 20px;    
	color: #D4C17F;
	text-align: right;
}